---
layout: archive
permalink: /gsoc-blog/
title: "Google Summer of Code 2021"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

This blog is an overview of my work and ideas for the GSoC 2021 program.

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
